@font-face {
  font-family: Glory;
  src: url('./assets/fonts/Glory-VariableFont_wght.ttf');
}



.backgroundImg{
background-image: url('./assets/background.png');
background-size: 100%;
background-repeat: no-repeat;

}

.boxBackground1{
  background-color: #A47878 !important;
  padding-top: 10px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 10px !important;
  width: 500px !important;
  font-family: Glory !important;
  color: white !important;
  border-radius: 10px;
}

.boxBackground1Btn{
  background-color: #A47878 !important;
  padding: 10px 40px !important;
  font-family: Glory !important;
  font-weight: bolder;
  color: white !important;
  font-size: 30px;
  width: 475px;
  height: 135px;
  border: #947676;
  border-radius: 30px;
  text-align: center !important;
}
.boxBackground1Btn:hover{
  background-color: gray !important;
}

.boxBackground2Btn{
  background-color: #947676 !important;
  padding: 10px 40px !important;
  font-family: Glory !important;
  font-weight: bolder;
  color: white !important;
  font-size: 30px;
  width: 475px;
  height: 135px;
  border: #947676;
  border-radius: 30px;
  text-align: center !important;
}

.boxBackground2Btn:hover{
  background-color: gray !important;
}

.boxBackground2{
  background-color: #947676 ;
}

.alignRight{
  display: flex;
  justify-content: right;
}

.alignLeft{
  display: flex;
  justify-content: left;
}

.paddingBtm1{
  padding-bottom: 200px;
}
